.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
        z-index: 0;

    }
    1% {
        visibility: visible;
        opacity: 0;
        z-index: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
}
.fade-in{animation: fade-in 200ms ease-in-out forwards;}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    99% {
        visibility: visible;
        opacity: 0;
        z-index: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
        z-index: 0;
    }
}
.fade-out{animation: fade-out 200ms ease-in-out forwards;}